[Desktop Entry]
Type=Application
Version=1.0
Name=Install Jason
GenericName=Jason Installer
Exec=calamares-install-debian
Comment=Calamares — Installer for Jason
Keywords=calamares;system;install;debian;installer
Icon=/usr/share/icons/jason/install.png
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=True
